<%= form_with(model: monologue) do |form| %>
  <% if monologue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(monologue.errors.count, "error") %> prohibited this monologue from being saved:</h2>

      <ul>
        <% monologue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :language_1, style: "display: block" %>
    <%= form.number_field :language_1 %>
  </div>

  <div>
    <%= form.label :language_2, style: "display: block" %>
    <%= form.number_field :language_2 %>
  </div>

  <div>
    <%= form.label :level_number, style: "display: block" %>
    <%= form.number_field :level_number %>
  </div>

  <div>
    <%= form.label :enable_audio, style: "display: block" %>
    <%= form.checkbox :enable_audio %>
  </div>

  <div>
    <%= form.label :monologue, style: "display: block" %>
    <%= form.text_field :monologue %>
  </div>

  <div>
    <%= form.label :audio_path, style: "display: block" %>
    <%= form.textarea :audio_path %>
  </div>

  <div>
    <%= form.label :tokens_monologue, style: "display: block" %>
    <%= form.number_field :tokens_monologue %>
  </div>

  <div>
    <%= form.label :custom_topic, style: "display: block" %>
    <%= form.textarea :custom_topic %>
  </div>

  <div>
    <%= form.label :automatic_title_topic, style: "display: block" %>
    <%= form.textarea :automatic_title_topic %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
